nav{
    top: 0;
}
section{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

body{
    /*
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    */
    background-color: #6AD9D9;
}

.row_container{
    display: flex;
    flex-direction: row;
    margin: 4%;
}

.row_container .content_container{
    width: 50%;
    margin: 1%;
}
.row_container div{
    width: 50%;
}

#infographic_img{
    padding: 3% 3%;
    padding-top: 0;
    align-self: center;
    width: 50%;
}

footer{
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #e7e7e7;
    border: 1px solid black;
    color: black;
    padding: 2% 2%;
}

h1{
    margin: 3%;
    font-size: 3rem;
}
section{
    background-color: #ebebeb;
    padding: 3% 3%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

/* Home Page */
#home_header{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#thinking_person{
    position: relative;
    margin-left: 10%;
    margin-bottom: -5%;
    display: flex;
    flex-direction: row;
}

#instructions{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 3% 3%;
    height: 80%;
    background-color: whitesmoke;
    box-shadow: 0 9px #999;
    
}
#thinking-lottie{
    margin-right: 10%;
}
/* Menu */
#menu{
    display: flex;
    align-items: center;
}
#menu_option_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.menu_option{
    padding: 15px 15px;
    width: 120%;
    height: 60%;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #54B77E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu_option:hover{
    text-decoration: none;
    color: #fff;
    background-color: #F6454F;
    font-weight: bolder;
}
/* Menu page */
.content_container{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 3% 3%;
    background-color: #F6454F;
    box-shadow: 0 9px #999;
    color: white;
    padding-bottom: 100px;
    position: relative;
}
/* Stats page */

/* Search Section */
.search_bar{
    display: flex;
    flex-direction: row;
}
#search_output{
    border-radius: 15px;
    padding: 3% 3%;
}
#search_multiple{
    color: red;
    margin: 5%;
}
#global_stats_output{
    border-radius: 15px;
    padding: 3% 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.global_stats_icon{
    width:60%;
}
.global_stats_icon:hover{
    width:65%;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.map_container{
    display: flex;
    flex-direction: row-reverse;
}
#map_settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 3% 3%;
}
#map{
    border-radius: 15px;
    margin-top: 2%;
    width: 80%;
}
#map_legend_container{
    display:flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-evenly;

}
.map_loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup{
    border-radius: 15px;
    padding: 3% 3%;
}

/* Learn page */


.content_container3{
    display: flex;
    align-self: center;
    width: 80%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 3% 3%;
    background-color: #FFD503;
    box-shadow: 0 9px #999;
    color: white;
    position: absolute;
    bottom: 10px;
}

aside{
    display: flex;
    justify-content: space-evenly;
}


/* Responsive */
@media screen and (max-width: 800px) {
    p{
        font-size: 70%;
    }

    /* learn page */
    li{
        font-size: 70%;
    }
    
    aside{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .learn-lotties{
        width: 200px;
        height: 200px;

    }

    /* stats page */
    .menu_option{
        height: 120px;
    }
    h5{
        font-size: 70%;
    }
    
    
    .map_container{
        display: flex;
        flex-direction: column;
    }
    #map{
        width: 100%;
    }
    #thinking_lottie{
        display: none;
        margin: none;
    }
    #thinking_person{
        margin: 5%;
    }
    #instructions{
        width: 100%;
        font-size: 20px;
    }
}
